#Logo{
    border-radius: 50%;
    border: 3px solid black;
   float:left; 
}
#ResturantName{
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    font-display: initial;
    margin-top: 5%;
}
   .container{
    width:100%;
    height:auto;
    padding:1%;
}
 .topnav{
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  background-color: #333;
  float: left;


  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position:fixed; 
  top:0 ;
  margin-left: 85%;

}
 a {
    color:white;
} 



main{
    font-size: 150%;
    
}



 h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred;
    margin-top: 50px;
 }
body{
    background-color: rgb(250, 212, 199);
}
footer{
    margin-top: 20%;

}